.ion-card-bus {
    color: black;
    background-color: #ffff;
    opacity: 82%;
    border-radius: 0px 15px 15px 0px;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
  
}

.card-list {
    margin-top: 30vh;
}

.block-content {
    margin: 10px;
}

.subtitle{
    font-style: italic;
}

.card-btns {
    display: block;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
}

.bus-line-color{
    width: 10px;
    height: 5vh;
    
}

.error-title {
    font-style: italic;
    font-weight: 700;
    color: red;
}

.ion-card-error {
    background-color: #ffff;
    opacity: 82%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-red {
    background-color: red;
}

.line-blue {
    background-color: blue;
  
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.red-bar {
    width: 100%;
    height: 40px;
    background-color: red;
    margin-top: 4vh;
}

.main-header {
    display: block;
    position: fixed;
    background-color: #FFEA00;
    z-index: 99;
    height: 30%;
    width: 100%;
}

.title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.title-text{
    margin-top: 2vh;
    font-weight: 500;
    font-size: 36px;

}


.legend {
    display: block;
    margin-left: 30px;
    margin-top: 20px;

}

.legend-info{
    font-weight: 400;
}
.blue-line-legend-main-header {
    height: 15px;
    width: 25vw;
    background-color: blue;
    margin-right: 10px;
}

.red-line-legend-main-header {
    height: 15px;
    width: 25vw;
    background-color: red;
    margin-right: 10px;
}

.legend-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
   
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}

.no-scroll {

    --offset-bottom: auto!important;
    
    --overflow: hidden;
    
    overflow: auto;
}